    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download</h2>
                    <p>The intersection of Love, Lost, and just a hint of Quantum Mechanics.</p>
                    <p>The first Android watch face that passively solves loneliness.</p>
                    <a href="#" class="btn btn-default btn-lg">Android Play Store</a>
                </div>
            </div>
        </div>
    </section>