    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Entangled</h1>
                        <p class="intro-text">
                          The first Android watch face that passively solves the problem of loneliness. You'll be entangled forever.
                        </p>
                      <div class="col-xs-12">
                        <a href="#" class="btn top-download btn-default btn-lg">Android Play Store</a>
                      </div>
                      <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
